li {
    padding: 10px;
    margin: 10px;
    background: #75CFF0;
}

.burgerList {
    padding: 10px;
}


/*#eaten {
    align-content: right;
}

#notEaten {
    align-content: left;
}*/

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 10px;
    margin: 10px;
    background: #FCA868;
}

.form-group {
    margin-bottom: 5px;
}